    /* Eléments principaux de la page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
    font-family: "roboto", sans-serif;
}
    
    
    /* HEADER */
    
#logo_header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#logo_header img{
    padding: 26px 0 14px;
    height: 75px;
}

#logo_header i{
    position: absolute;
    left: 7%;
    bottom: 30%;
    font-size: 21px;
    color: black;
}


        /* SECTION MENU */
h1{
    font-family: "shrikhand", sans-serif;
    font-weight: normal;
}


#menu{
    padding: 15px;
}

#carte_menu img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#carte_menu h3{
    padding-bottom: 5px;
}

#carte_menu #menu{
    border-radius: 40px 40px 0 0;
    width: 100%;
    background: rgb(250, 250, 250);
    position: relative;
    margin-top: -50px;
}

#nom_restaurant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    padding: 20px 20px 5px 0;
}

#nom_restaurant i{
    font-size: 25px;
}

.repas{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: normal;
    border-bottom: 3.5px solid #99E2D0;
    padding: 25px 0 5px;
    width: 43px;
}

.assiette{
    margin: 15px 0;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 10px rgb(200, 200, 200);
}
    
.assiette_description{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.prix{
    font-weight: bold;
}

#bouton_commander{
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

#bouton_commander a{
    text-decoration: none;
}

#bouton_commander p{
    font-size: 17px;
    color: white;
    border-radius: 30px;
    background: linear-gradient(172deg, #FF79DA, #9356DC);
    padding: 15px 55px;
    border: none;
    box-shadow: 0 5px 8px rgb(200, 200, 200);
}


    /* FOOTER */
    
#bloc_footer{
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 30px;
}
    
#bloc_footer h3{
    font-family: "shrikhand", sans-serif;
    font-weight: normal;
    padding-bottom: 9px;
}
    
#bloc_footer li{
    list-style-type: none;
    padding-top: 9px;
    font-size: 18px;
}

#bloc_footer a{
    text-decoration: none;
    color: white;
}
    
.fa-utensils,
.fa-handshake-angle{
    font-size: 15px;
    width: 28px;
}
    
    @media screen and (min-width: 1024px) {
    
        
    
    
    
    
    }
    