        /* Eléments principaux de la page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
    font-family: "roboto", sans-serif;
    font-size: 20px;
}
    
h3{
    font-size: 21px;
}
    
h2{
    font-size: 27px
}
    
    
        /* HEADER */
    
#logo_header{
    display: flex;
    justify-content: center;
    padding: 26px 0 14px;
    height: 75px;
    box-shadow: 0px 3px 6px rgb(195, 195, 195);
}
    
#barre_de_recherche{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 18px;
    background-color: rgb(238, 238, 238);
    margin-top: 5px;
} 
    
input{
    font-size: 18px;
    padding-left: 20px;
    width: 189px;
    border: none;
    background-color: transparent;
}


        /* MAIN */

#bloc_main{
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bloc_main_description{
    padding: 20px 0 30px 0;
    font-size: 21px;
    color: rgb(110, 110, 110);
}

#bloc_main a{
    background: linear-gradient(172deg, #FF79DA,#9356DC);
    font-size: 17.5px;
    color: white;
    padding: 17px 25px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 8px rgb(195, 195, 195);
    margin-bottom: 25px;
    text-decoration: none;
}


        /* SECTION FONCTIONNEMENT */

#section_fonctionnement{
    padding: 50px 20px;
}
    
#section_fonctionnement li{
    background-color: rgb(245, 245, 245);
    padding: 25px 0;
    font-weight: bold;
    font-size: 19px;
    margin: 25px 0;
    border-radius: 20px;
    list-style-type: none;
    box-shadow: 0 5px 10px rgb(195, 195, 195);
    position: relative;    
}
    
#section_fonctionnement .fa-solid{
    padding: 0 30px;
    color: rgb(110, 110, 110);
}
    
#section_fonctionnement a{
    text-decoration: none;
    color: black;
    align-items: center;
}
    
#section_fonctionnement .fa-2{
    position: absolute;
    left: -11px;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 6px 8.5px;
    background-color: #9356DC;
}
    
#section_fonctionnement .fa-3{
    position: absolute;
    left: -13px;
    font-size: 12.5px;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 7px 7.5px;
    background-color: #9356DC;
}
    
#section_fonctionnement .fa-1{
    position: absolute;
    left: -11px;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 6px 9px;
    background-color: #9356DC;
}


        /* SECTION RESTAURANTS */

#section_restaurant{
    padding: 50px 20px;
    background-color: rgb(245, 245, 245);
}
    
#section_restaurant_1_2 img,
#section_restaurant_3_4 img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    height: 70%;
}
    
#restaurant_1,
#restaurant_2,
#restaurant_3,
#restaurant_4{
    border-radius: 10px;
    height: 270px;
    margin-top: 30px;
    box-shadow: 0 5px 10px rgb(195, 195, 195);
}
    
#restaurant_1 a,
#restaurant_2 a,
#restaurant_3 a,
#restaurant_4 a{
    text-decoration: none;
    color: black;
}
    
figcaption{
    padding: 13px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
#section_restaurant i{
    position: absolute;
    right: 30px;
}

#restaurant_1,
#restaurant_2{
    position: relative;
}

#section_restaurant_1_2 .nouveau{
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(0, 130, 90);
    font-size: 14px;
    border: 1px solid #99E2D0;
    padding: 5px 12px;
    background-color: #99E2D0;
    border-radius: 2px;
    font-weight: 500;
}


        /* FOOTER */

#bloc_footer{
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 30px;
}
    
#bloc_footer h3{
    font-family: "shrikhand", sans-serif;
    font-weight: normal;
    padding-bottom: 9px;
}
    
#bloc_footer li{
    list-style-type: none;
    padding-top: 9px;
    font-size: 18px;
}

#bloc_footer a{
    text-decoration: none;
    color: white;
}
    
.fa-utensils,
.fa-handshake-angle{
    font-size: 15px;
    width: 28px;
}